.landing-container {
    min-height: 80vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'DM Sans', sans-serif;
    color: #1F1F1F;
}

.landing-content {
    padding: 60px 50px;
    max-width: 500px;
    width: 100%;
}

.landing-content h1 {
    font-family: 'DM Sans', sans-serif;
    font-size: 60px;
    font-weight: 500;
    margin-bottom: 10px;
    color: #1a1a1a
}

.landing-content p {
    color: #888;
    margin-bottom: 40px;
    font-size: 18px;
}

.action-btn {
    display: inline-block;
    background-color: #1a1a1a;
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
}