
.container {
    background: white;
    padding: 30px;
    border-radius: 30px; 
    border: 1px solid var(--border);;
    box-shadow: 0 10px 40px var(--border); 
    font-family: 'DM Sans', sans-serif;
    max-width: 600px;
    width: 400px;
    margin: 20px auto;
    position: relative;
}

