@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Playfair+Display:wght@700&display=swap');

.calendar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.react-calendar {
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(69, 69, 69, 0.1);
    background-color: white;
    width: 350px;
}


.mood-5 {
    background-color: #f472b6 !important;
    color: white !important;
    border-radius: 50%; 
}

.mood-4 {
    background-color: #fbcfe8 !important;
    color: black !important;
    border-radius: 50%;
}

.mood-3 {
    background-color: #fef08a !important;
    color: black !important;
    border-radius: 50%;
}

.mood-2 {
    background-color: #bae6fd !important;
    color: black !important;
    border-radius: 50%;
}


.mood-1 {
    background-color: #cbd5e1 !important;
    color: white !important;
    border-radius: 50%;
}
