
.calendar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.react-calendar {
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(69, 69, 69, 0.1);
    background-color: white;
    color: grey;
    width: 350px;
}

h1 {
    font-family: 'Playfair Display', serif; font-weight: 700;
}
