
.container {
  top: 0;
  z-index: 1;
  width: 100%;
  height: 80px;
  display: flex;
  position: fixed;
  padding: 14px 21px;
  align-items: center;
  background: white;
  border-bottom: 1px solid rgb(200, 200, 200);
  justify-content: center;

}

.container img {
  width: 10px;
}


.container ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

.container li {
  margin: 0;
}

.container li a {
  display: inline-block;
  padding: 12px 24px;
  border: 2px solid black;
  border-radius: 50px;
  background: white;
  color: black;
  text-decoration: none;
  font-weight: 700;
}

@media only screen and (max-width: 414px) {
  .container ul {
    padding-left: 0px;
  }
  .container li {
    font-size: 15px;
  }
}
