@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Playfair+Display:wght@700&display=swap');


.dashboard-container{
    background-color: white;
    display: flex;
    justify-content: center;
}

h1 {
    font-family: 'Playfair Display', serif; font-weight: 700;
}