/* body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background: radial-gradient(
    1200px 600px at 30% 20%,
    #ffdce2 0%,
    #f7c9ce 40%,
    #f3b7bf 100%
  );
  min-height: 100vh;
} */

